Webpack (imports/exports)
	Babel	
	Scss
	Eslint
	2 Modes
		- Dev
			Dev Server, SourceMaps,  Eslint, Mot Minified JS & CSS
		- Prod
			Minified code


Git
	Production
		2.0.0
		0----------------
	Development
		2.0.2
		1----------------
